@import "./assets/colors.css";

.fluid {
  width: 100%;
}
.SpaceXWrapper {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  background-color: var(--appBackground);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.heading {
  font-size: 30px;
  font-weight: bolder;
}
.page-wrapper {
  display: flex;
  flex: 1;
}
.filters-wrapper {
  flex: 1;
  display: flex;
}
.result-wrapper {
  flex: 3;
  margin-top: 20px;
  margin-left: 20px;
  background-color: var(--appBackground);
}
.data-grid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
 
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1023px) {
  .data-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .App-header {
    font-size: 40px;
  }
  .page-wrapper{
    flex-direction: column;
  }
  .data-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .result-wrapper {
    margin-left: 0px;
  }
}
